:root {
    --text-background: {{style.text_background}};
    --background: {{style.background}};
    --foreground: {{style.foreground}};
    --accent: {{style.accent}};
    --accent-hover: {{style.accent_hover}};
    --accent2: {{style.accent2}};
    --accent2-hover: {{style.accent2_hover}};
    --font-family: {{style.font_family}};
    --font-size: {{style.font_size}};
    --line-height: {{style.line_height}}
    --small-spacing: {{style.small_spacing}};
    --large-spacing: {{style.large_spacing}};
    --border-radius: {{style.border_radius}};
}